src/main/resources/bt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="arg" type="xs:string"/>
	<xs:element name="args">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="arg" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="guard">
		<xs:complexType mixed="false">
			<xs:all>
				<xs:element ref="args" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="guard" minOccurs="0" maxOccurs="1"/>
			</xs:all>
			<xs:attribute type="xs:string" name="class" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="task">
		<xs:complexType>
			<xs:all>
				<xs:element ref="guard" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="args" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="branches" minOccurs="0" maxOccurs="1"/>
			</xs:all>
			<xs:attribute type="xs:string" name="type" use="required"/>
			<xs:attribute type="xs:string" name="class" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="branches">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="task" maxOccurs="unbounded" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>





